{% if section.settings.banner_text != blank %}
  <div class="banner-wrapper wrapper">
    <div class="banner">
      <button class="medium-up--text-left" type="button" href="{{ section.settings.banner_link }}">{{ section.settings.banner_text }}</button>
    </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Banner",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "banner_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "banner_link",
        "label": "Announcement link",
        "info": "Optional"
      }
    ]
  }
{% endschema %}