<!-- /templates/page.full-width.liquid -->
<header class="section-header text-center">
  <hr class="hr--large">
  <h2>{{ page.title }}</h2>
  {% if page.metafields.c_f.subtext %}
    <h1>{{ page.metafields.c_f.subtext }}</h1>
  {% endif %}
</header>

<div class="rte">
  {{ page.content }}
</div>
