<!-- /templates/page.consultations.liquid -->
<div class="grid">
  
  <div class="grid__item">

    <header class="section-header text-center">
      <span class="h2">{{ page.title }}</span>
      {% if page.metafields.c_f.subtext %}
        <h1>{{ page.metafields.c_f.subtext }}</h1>
      {% endif %}
    </header>

    <div class="grid">

      <div class="grid__item">
        <hr class="hr--large">
        {% for article in blogs["about"].articles limit: 1 %}
          <div class="post-slider caption">
            {{ article.excerpt }}
          </div>
        {% endfor %}
        {% section 'slider-consultation' %}
      </div>

      <div class="grid__item large--three-fifths push--large--two-tenths">
        <div class="rte rte--nomargin rte--indented-images">
          {{ page.content }}
        </div>
      </div>

    </div>

    <div class="grid">

      <div class="grid__item form-section large--four-tenths push--large--three-tenths">

        <div class="form-vertical">

          {% section 'form-consultation' %}

        </div>

      </div>

    </div>

  </div>
</div>

<script>
$(document).ready(function() {
    $('.post-slider').each(function(){
      $(this).find('img').wrap('<div class="item"></div>');
      $(this).find('.item').wrapAll('<div class="bxslider" />');
    });
    $('.bxslider').each(function(){
        $(this).slick({
            centerMode: true,
            centerPadding: '15px',
            slidesToShow: 1,
            infinite: true,
            arrows: true,
            initialSlide: 1,
            variableWidth: true
        });
    });
    
});
</script>