<!-- /templates/page.full-width.liquid -->
<header class="section-header text-center">
  <hr class="hr--large">
  <span class="h2">{{ page.title }}</span>
  {% if page.metafields.c_f.subtext %}
    <h1>{{ page.metafields.c_f.subtext }}</h1>
  {% endif %}
</header>

<div class="rte">
  {{ page.content }}
</div>
